body{
    font-family:'Roboto', sans-serif;
}
.box{
    background-color: aquamarine;
    margin-top: 120px;
    margin-left: 10%;
    margin-right: 10%;
    height: 98vh;
}
#myCanvas{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: #65f0c1;
}

.canvasContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    
}

.appName{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    padding-top: 5%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.describeText{
    font-size: 20px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    
}

.inputBox{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.inputField{
    display: flex;
    margin: 2%; 
}

input[type=number]
{
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  height: 40px;
  width: 350px;
  font-size: 2em;
}
#checkButton{
    margin-top: 10px;
    height: 50px;
    width: 400px;
    border: 0;
    font-size: 25px;
    font-weight: 600;
}
#checkButton:active{
    margin-top: 10px;
    height: 50px;
    width: 400px;
    border: 0;
    font-size: 20px;
    background-color: greenyellow;
}
.sideText{
    font-size: 2em;
    margin-right: 20px;

}

.output{
    width: 100%;
    margin-left: 10%;
    margin-top: 0;
    padding: 2%;
    font-size: 1.75rem;
}
.buttonContainer{
    display: flex;
  /*  justify-content: center;
    align-items: center; */
    margin-left: 10px;
    width: 40vw;
    
}

input[type=number]{
    text-align: center;
}

/* for mobile version */
@media screen and (max-width: 600px) {
    .box{
      background-color: aquamarine;
      margin: 0 auto;
    }
    input[type=number]
    {
      -webkit-appearance: none;
      margin: 0;
      border: 0;
      height: 40px;
      
      font-size: 1em;
    }

    #myCanvas{
        margin: 0 auto 2% auto;
        width: 80vw;
        height: 80vw;
    }

    .canvasContainer{
        width: 100%;
        margin-top: 5%;
        margin-left: 0;
    }
    .container{
        flex-direction: column;
    }

    #checkButton{
        height: 4em;
        width: 6em;
        margin: 0;
        font-size: 25px;
        background-color: #00d64f;
    }
    #checkButton:active{
        height: 3em;
        width: 6em;
        background-color: greenyellow;
    }
    .inputBox{
        margin-left: 0%;
        margin-bottom: 20px;
        flex-direction: row;
        padding: 0;
    }

    .inputField{
        width: 40vw;
    }

    .inputContainer{
        display: flex;
        flex-direction: column;
        width: 50vw ;
    }

    .buttonContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
        margin: 0px;
    }
    .output{
        margin: 0 0 7% 7%;
        width: 100%;
        padding: 0;
    }
    .sideText{
        font-size: 1em;
        margin:5px;
        margin-right: 10px;
        padding-top: 5px;
    }
    input[type=number]{
        width: 40vw;
    }
}

@media screen and (min-width: 850px) {
    .inputBox{
        width: 40%;
    }
    .appName{
        margin-bottom: 10px;
    }
}